.ld-autocomplete-wrapper {
  display: flex;
  position: relative;

  .ld-input-element-wrapper {
    width: 100%;
  }
}

// dropdown list styles
.ld-suggestion-wrapper {
  @extend %suggestion-wrapper;
}

.ld-suggestion-list {
  @extend %suggestion-container-list;
}

.ld-suggestion-item {
  @extend %suggestion;
}

.ld-highlighted {
  @extend %suggestion-highlighted;

}

.ld-selected {
  @extend %suggestion-selected;
}

.ld-pos-top {
  @extend %pos-top;
}

.ld-nodata {
  @extend %nodata; 
}
