.ld-btn {
  display: inline-block;
  color: var(--ld-btn-text-color);
  background-color: var(--ld-btn-bg-color);
  border-radius: var(--ld-btn-border-radius);
  border: var(--ld-btn-border-width) solid var(--ld-btn-border-color);
  font-size: var(--ld-btn-font-size);
  font-weight: var(--ld-btn-font-weight);
  padding-block: var(--ld-btn-padding-block);
  padding-inline: var(--ld-btn-padding-inline);
  line-height: var(--ld-btn-line-height);
  min-inline-size: var(--ld-btn-min-width);
  cursor: pointer;
  transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out;
  position: relative;

  &:hover {
    background-color: var(--ld-btn-bg-color-hover);
    border-color: var(--ld-btn-border-color-hover);
  }

  &.ld-disabled {
    filter: opacity(50%);
    cursor: not-allowed;
    &:hover {
      background-color: var(--ld-btn-bg-color);
      border-color: var(--ld-btn-border-color);
    }
  }

  &.ld-loading {
    filter: opacity(90%);
    cursor: progress;
    &:hover {
      background-color: var(--ld-btn-bg-color);
      border-color: var(--ld-btn-bg-color);
    }
  }

  .ld-loading-icon {
    position: absolute;
    display: block;
    color: currentColor;
    width: var(--ld-btn-font-size);
    height: var(--ld-btn-font-size);
    left: calc(var(--ld-btn-padding-inline)/2 - var(--ld-font-size)/2);
    top: calc(var(--ld-btn-padding-block) + var(--ld-btn-line-height)/2 - var(--ld-btn-font-size)/2);
    animation: cog 2s linear infinite;
  }
}
