// Theme
// disabled:                 'disabled',
// loading:                  'loading',
// wrapper:                  'ld__button-wrapper',

.ld__btn {
  display: inline-block;
  color: var(--btn-text-color);
  background-color: var(--btn-bg-color);
  border-radius: var(--border-radius);
  border: var(--btn-border-width) solid var(--btn-border-color);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  padding-block: var(--btn-padding-block);
  padding-inline: var(--btn-padding-inline);
  line-height: var(--line-height);
  min-width: var(--btn-min-width);
  cursor: pointer;
  transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out;
  position: relative;

  &:hover {
    background-color: var(--btn-bg-color-hover);
    border-color: var(--btn-border-color-hover);
  }

  &.disabled {
    filter: opacity(50%);
    cursor: not-allowed;
    &:hover {
      background-color: var(--btn-bg-color);
      border-color: var(--btn-border-color);
    }
  }

  &.loading {
    filter: opacity(90%);
    cursor: progress;
    &:hover {
      background-color: var(--btn-bg-color);
      border-color: var(--btn-bg-color);
    }
  }

  .loading-icon {
    position: absolute;
    display: block;
    color: currentColor;
    width: var(--font-size);
    height: var(--font-size);
    left: calc(var(--btn-padding-inline)/2 - var(--font-size)/2);
    top: calc(var(--btn-padding-block) + var(--line-height)/2 - var(--font-size)/2);
    animation: cog 2s linear infinite;
  }
}
