.ld-button-group-buttons-wrapper {
  display: flex;
}
  
.ld-button-disabled {
  filter: opacity(50%);

  .ld-button-group-item {
    &:hover {
      background-color: var(--ld-btn-bg-color);
      border-color: var(--ld-btn-border-color);
      cursor: not-allowed;
    }
    &.ld-button-active:hover {
      background-color: var(--ld-btn-group-active-color);
      border-color: var(--ld-btn-group-active-color);
    }
  }
}

.ld-button-group-item {
  border-radius: 0;

  &.ld-button-first {
    border-radius: var(--ld-btn-border-radius) 0 0 var(--ld-btn-border-radius);
  }

  &.ld-button-last {
    border-radius: 0 var(--ld-btn-border-radius) var(--ld-btn-border-radius) 0;
  }

  &.ld-button-active {
    background-color: var(--ld-btn-group-active-color);
    border-color: var(--ld-btn-group-active-color);
  }
}