.ld-collapse-heading-wrapper {
  border-radius: var(--ld-collapse-border-radius);
  border: var(--ld-collapse-border);
  padding: var(--ld-collapse-padding);
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  &:hover {
    border-color: var(--ld-collapse-border-color-hover);

    .ld-collapse-icon {
      color: var(--ld-collapse-border-color-hover);
    }
  }
}

.ld-collapse-disabled {
  background-color: var(--ld-collapse-bg-color-disabled);
  cursor: not-allowed;
  
  &:hover {
    border-color: var(--ld-collapse-border-color);

    .ld-collapse-icon {
      color: var(--ld-collapse-border-color);
    }
  }
}

.ld-collapse-icon {
  transition: transform 0.2s linear;
  transform: rotate(0);
  color: var(--ld-collapse-border-color);
}

.ld-collapse-icon-reversed {
  transform: rotate(180deg);
}
