.ld-collapse-wrapper[open] {
  .ld-collapse-icon {
    transform: rotate(180deg);
  }
}

.ld-collapse-summary {
  border-radius: var(--ld-collapse-border-radius);
  border: var(--ld-collapse-border);
  padding-inline: var(--ld-collapse-summary-padding-inline);
  padding-block: var(--ld-collapse-summary-padding-block);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    border-color: var(--ld-collapse-border-color-hover);

    .ld-collapse-icon {
      color: var(--ld-collapse-border-color-hover);
    }
  }
  
  .ld-collapse-icon {
    transition: transform 0.2s linear;
    transform: rotate(0);
    color: var(--ld-collapse-border-color);
  }
}

.ld-collapse-content {
  padding-inline: var(--ld-collapse-content-padding-inline);
  padding-block: var(--ld-collapse-content-padding-block);
}
