.tabs {
  &-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
  }

  &-item {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid transparent;
    padding: 9px 14px;

    &.active {
      border-bottom-color: $accent-02;
      cursor: default;
    }

    &.disabled {
      color: $black-04;
      cursor: default;
    }

    &:not(.active):not(.disabled):hover {
      color: $accent-02;
    }

    &:not(:last-of-type) {
      margin-right: 4px;
    }
  }

  &-bar {
    padding-left: 0;
    background-color: inherit;
    display: inline-flex;
    border-bottom: 1px solid $black-06;
  }

  &-container {
    &.scroll {
      overflow-x: scroll;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &-arrow-left {
    position: absolute;
    top: 10px;
    left: 0;
    padding: 10px;
    background: white;
    box-shadow: 0px 0px 5px 2px $black-03;
    border-radius: 50%;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    font-style: normal;
    &::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f104";
      position: absolute;
      left: 6px;
      top: 0;
      color: $black-03;
    }
  }
  &-arrow-right {
    position: absolute;
    top: 10px;
    right: 0;
    padding: 10px;
    background: white;
    box-shadow: 0px 0px 5px 2px $black-03;
    border-radius: 50%;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    font-style: normal;
    &::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f105";
      position: absolute;
      left: 7px;
      top: 0;
      color: $black-03;
    }
  }
}
