.multiselect {
  &-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
  }

  &-input-wrapper {
    @extend %input-wrapper;
    width: 100%;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    min-height: 32px;

    &:not(.danger):not(.disabled):hover {
      @extend %input-hovered;
    }

    &:not(.disabled):not(.focused).danger {
      border-color: $brand-danger;
    }

    &.focused {
      @extend %input-focused;
    }

    &.disabled {
      background-color: inherit;
      border-color: $black-05;
    }
  }

  &-tags-container {
    align-self: flex-start;
    margin: 5px;

    & .tags-item {
      margin-bottom: 2px;

      & .tags-icon {
        cursor: pointer;
      }
    }
  }

  &-tags-union {
    align-self: flex-start;
    margin: 5px 10px;
  }

  &-input {
    border: none;
  }

  &-clear-icon {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 18px;
    cursor: pointer;

    &::before {
      content: "\00D7";
      color: $black-03;
    }
  }
}
