.autocomplete {
  &-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &-input {
    @extend %input;

    &.focused {
      @extend %input-focused;
    }

    &:hover {
      @extend %input-hovered;
    }

    &:not(.focused):not(:disabled).danger {
      border-color: $brand-danger;
    }

    &:disabled {
      @extend %input-disabled;
    }
  }

  &-clear-icon {
    font-size: 18px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    right: 0;

    &::before {
      content: "\00D7";
      position: absolute;
      color: $black-03;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      display: block;
      font-style: normal;
    }
  }

  &-suggestions-container {
    @extend %suggestions-container;

    &.opened {
      @extend %suggestions-container-opened;
    }
  }

  &-suggestions-list {
    @extend %suggestions-container-list;
  }

  &-suggestion {
    @extend %suggestion;

    &.highlighted {
      @extend %suggestion-highlighted;
    }
  }
}
