.filedrop {
  &-wrapper {
    background-color: transparent;
    border: 1px dashed $black-05;
    padding: 10px 9px;

    &.danger {
      border-color: $brand-danger;
    }
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-button {
    min-width: 120px;
    justify-content: center;
    align-items: center;
    flex: none;
  }

  &-cloud-icon {
    width: 58px;
    height: 58px;
    text-align: center;
    &::before {
      content: "\f0ee";
      font-size: 48px;
      line-height: 1.4;
      color: $black-05;
      font-family: FontAwesome;
    }
  }

  &-retry-icon {
    margin-right: 5px;
    &::before {
      content: "\f021";
      width: 20px;
      height: 20px;
      color: $black-03;
      font-family: FontAwesome;
      font-size: 20px;
    }
  }

  &-retry-button {
    display: flex;
    align-items: center;
  }

  &-ok-icon {
    text-align: center;
    width: 138px;
    height: 138px;
    &::before {
      content: "\f058";
      font-family: FontAwesome;
      line-height: 1.5;
      font-size: 90px;
      color: $brand-primary;
    }
  }

  &-not-ok-icon {
    text-align: center;
    width: 138px;
    height: 138px;
    &::before {
      content: "\f119";
      font-family: FontAwesome;
      line-height: 1.5;
      font-size: 90px;
      color: $brand-danger;
    }
  }

  &-description {
    width: 100%;
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    font-size: 12px;
    font-size: 14px;
    line-height: 2;
    padding-left: 24px;
    padding-right: 48px;
    color: $black-03;
    color: $black-01;
    text-overflow: ellipsis;
    font-style: normal;

    & button {
      line-height: 1.5;
    }
  }

  &-status {
    display: flex;
    align-items: center;
    flex: none;
    margin-right: 24px;
    font-weight: 500;

    & > [class*="icon"] {
      margin-right: 5px;
    }
  }

  &-delete-icon {
    font-size: 13px;
    cursor: pointer;
    font-family: "novicon", sans-serif;
    &::before {
      content: "\e94d";
      font-style: normal;
    }
  }

  &-progress-loader {
    position: relative;

    & .progress-base {
      width: 70px;
      height: 70px;
      border: 2px solid #ddd;
      border-radius: 50%;
      background-color: transparent;
    }

    & .progress-circle {
      stroke: #1ecd97;
      width: 70px;
      height: 70px;
      stroke-width: 2;
      position: absolute;
      top: 0;
      fill: none;

      & circle {
        transition: stroke-dashoffset 0.3s;
      }
    }
  }
}
