.notifications {
  &-wrapper {
    position: fixed;
    width: 50%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }

  &-icon-close {
    &:before {
      font-size: 30px;
      color: $black-03;
      content: " ";
      background: url("data:image/svg+xml,%3Csvg width='36' height='35' viewBox='0 0 36 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.94444 1.94444L33.2396 33.2396' stroke='%23949494' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M34.0556 1.94444L2.76036 33.2396' stroke='%23949494' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E") center / 40% no-repeat;
      width: 30px;
      display: block;
      height: 30px;
    }

    width: 30px;
    height: 30px;
    display: block;
    margin: 0 10px 0 0;
    cursor: pointer;
  }

  &-content {
    border-left: 1px solid $black-05;
    padding: 20px 10px;
    width: 90%;
  }

  &-icon {
    padding: 0 16px;
  }

  &-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    box-shadow: 0 5px 20px #ccc;
    padding: 0;
    color: $black-01;
    background-color: $white;
    border-radius: $border-radius;
  }

  &-top {
    right: 28px;
    top: 84px;
    bottom: auto;
    left: auto;
    transform: none;
    width: 400px;
    margin-bottom: 8px;

    .notifications-item {
      background-color: $black-02;
      color: $white;
      padding: 12px 8px 12px 12px;
      align-items: unset;
      box-shadow: none;
      margin-bottom: 8px;
    }

    .notifications-icon {
      padding: 0 8px 0 0;
    }

    .notifications-content {
      border-left: none;
      width: auto;
      padding: 0 12px 0 0;
      min-width: 334px;
    }

    .notifications-icon-close {
      margin: 0;
      height: 20px;
      line-height: 14px;

      &::before {
        font-size: 30px;
        color: $black-03;
        content: " ";
        background: url("data:image/svg+xml,%3Csvg width='36' height='35' viewBox='0 0 36 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.94444 1.94444L33.2396 33.2396' stroke='%23949494' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M34.0556 1.94444L2.76036 33.2396' stroke='%23949494' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E") center / 40% no-repeat;
        width: 30px;
        display: block;
        height: 30px;
      }
    }
  }
}
