.statusbar {
  &-wrapper {
    padding: 5px 10px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
    counter-reset: step;
  }

  &-status-item {
    color: $black-03;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2px;
    position: relative;

    .statusbar-icon:before {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      color: $black-01;
      text-transform: none;
      background-size: contain;
      counter-increment: step;
      content: counter(step);
      width: 22px;
      height: 22px;
      border: 2px solid $black-05;
      border-radius: 50%;
      line-height: 1;
      background-color: $white;
      font-family: "roboto",sans-serif;
      z-index: 1;
    }

    &.first {
      align-items: flex-start;
    }

    &.last {
      align-items: flex-end;

      & + .statusbar-line {
        display: none;
      }

      & > .statusbar-label {
        right: 0;
      }
    }

    &:not(.first):not(.last) > .statusbar-label {
      -ms-transform: translateX(-50%);
    }

    .success {
      & + .statusbar-label {
        color: $primary-02;
      }

      &:before {
        border: 2px solid $primary-03;
        background-color: $primary-03;
        color: $white;
      }

    }

    .danger {
      & + .statusbar-label {
        color: $error-01;
      }

      &:before {
        border: 2px solid $error-01;
        content: counter(step);
        font-family: "roboto",sans-serif !important;
        font-size: 12px;
        color: $white;
        background-color: $error-01;
      }
    }

    .progress {
      & + .statusbar-label {
        color: $black-01;
        font-weight: 500;
      }

      &:before {
        border: 2px solid $white;
        content: '\f1ce';
        font-family: fontAwesome;
        font-size: 26px;
        color: $primary-04;
      }
    }
  }

  &-line {
    display: flex;
    flex-grow: 1;
    align-self: flex-start;
    height: 20px;
    background-color: $black-07;
    border-radius: $border-radius;
    margin: 2px 5px 5px 5px;
  }

  &-label {
    position: absolute;
    top: 50%;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 8px;

    a {
      color: inherit;
    }
  }
}
