.dropzone {
  &-wrapper {
    background-color: transparent;
    border: 1px dashed $black-05;
    padding: 10px 9px;

    &.danger {
      border-color: $brand-danger;
    }
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-button {
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
  }

  &-description {
    width: 100%;
    display: inline-block;
    text-align: start;
    font-size: 12px;
    padding-left: 24px;
    padding-right: 48px;
    color: $black-03;
    text-overflow: ellipsis;
    font-style: normal;
  }

  &-status {
    display: flex;
    align-items: center;
    flex: none;
    margin-right: 24px;
    font-weight: 500;

    & > [class*="icon"] {
      margin-right: 5px;
    }
  }

  &-delete-icon {
    font-size: 13px;
    cursor: pointer;
    &::before {
      content: "\00D7";
      color: $black-03;
      font-style: normal;
    }
  }
}
