@mixin active-colored() {
  color: $white;
  border-color: transparent $white transparent transparent;

  + .button-wrapper {
    border-left-color: $white;
  }
}

.button-group {
  &-wrapper {
    display: flex;
    flex-direction: column;

    &.primary .button-wrapper.active, &.success .button-wrapper.active {
      background-color: $primary-02;
      @include active-colored;
    }

    &.secondary .button-wrapper.active {
      background-color: $secondary-03;
      @include active-colored;
    }

    &.warning .button-wrapper.active {
      background-color: $accent-02;
      @include active-colored;
    }

    &.danger .button-wrapper.active {
      background-color: $error-02;
      @include active-colored;
    }

    & ~ .invalid-message-list{
      margin-top: 4px;
    }
  }

  &-buttons-wrapper {
    display: inline-flex;
    justify-content: flex-start;
    border-radius: $border-radius;

    .button-wrapper, .button-wrapper:hover {
      display: flex;
      justify-content: center;
      border-color: $black-05;
      border-radius: 0;

      &.first, &:first-child {
        border-radius: $border-radius 0 0 $border-radius;
      }

      &.last, &:last-child {
        border-radius: 0 $border-radius $border-radius 0;
      }

      &:not(.active) {
        background: $black-07;
      }

      &.danger, &.warning, &.success, &.primary {
        border-color: transparent;
      }

      &:not(:last-child) {
        border-right: 0;
      }
    }

    &.disabled {
      background-color: transparent !important;
      cursor: default !important;
      border-color: transparent;

      .button-wrapper {
        color: $black-03 !important;
        background-color: rgba($black-06, 0.3) !important;
        cursor: default !important;
        border-color: $black-04;

        &:hover {
          color: $black-03 !important;
          background-color: rgba($black-06, 0.3) !important;
        }

        &.active {
          background-color: $black-06 !important;
          border-color: $black-04;

          + .button-wrapper {
            border-left-color: $black-04;
          }
        }
      }
    }
  }
}
