.numeric-range {
  &-wrapper {
    align-items: center;

    // Костыль, потому что в helpers.css стили для .disabled идут с !important
    &.disabled {background: transparent !important;}
    display: flex;
    
    & > .numeric-wrapper, & > .numeric-text-box-wrapper {
      flex-grow: 1;
    }
  }

  &-label {
    flex: none;
    margin-right: 16px;
  }

  &-delimiter {
    display: block;
    text-align: center;
    line-height: 32px;
    width: 10%;
    margin-right: 4px;
    margin-left: 4px;
  }
}
