$black-01: #000;
$black-02: #333;
$black-03: #666;
$black-04: #999;
$black-05: #ccc;
$black-06: #e6e6e6;
$black-07: #f3f5f7;
$black-08: #fafafa;
$white: #fff;

$accent-01: #d76e00;
$accent-02: #ff890a;
$accent-03: #ffa13d;
$accent-04: #ffba70;
$accent-05: #ffebd6;

$primary-01: #008000;
$primary-02: #00b300;
$primary-03: #00e600;
$primary-04: #80ff80;
$primary-05: #e6ffe6;

$secondary-01: #3a75c4;
$secondary-03: #0fa3ff;
$secondary-05: #a8deff;

$error-01: #c10020;
$error-02: #f50029;
$error-03: #ff5c77;
$error-04: #ffc2cc;
$error-05: #fff5f7;

$brand-primary: $primary-02;
$brand-warning: $accent-02;
$brand-danger: $error-02;

$border-radius: 4px;
