:root {
  // base variables
  // base variables must not be used in CSS classes directly
  // use base variables in component variables only
  --ld-main-color: #737373; // tailwind neutral 500
  --ld-main-color-dark: #525252; // tailwind neutral 600
  --ld-main-color-light: #a3a3a3; // tailwind neutral 400
  --ld-main-color-contrast: white;
  --ld-bg-color: white;
  --ld-border-radius: 4px;
  --ld-font-size: .875rem;
  --ld-line-height: 1.5rem;
  --ld-font-weight: 800;
  --ld-font-color: #09090b; // tailwind neutral 950
  --ld-border-color: #a3a3a3; // tailwind neutral 400
  --ld-border-color-hover: #09090b; // tailwind neutral 950
  --ld-bg-color-disabled: #e5e5e5; // tailwind neutral 200
  --ld-padding-block: .4rem;
  --ld-color-danger: #dc2626; // tailwind red 600
  --ld-color-success: #15803d; // tailwind green 700

  // component variables
  // do not use component variables in other component variables
  --ld-btn-font-size: var(--ld-font-size);
  --ld-btn-font-weight: var(--ld-font-weight);
  --ld-btn-border-radius: var(--ld-border-radius);
  --ld-btn-min-width: 0;
  --ld-btn-line-height: var(--ld-line-height);
  --ld-btn-text-color: var(--ld-main-color-contrast);
  --ld-btn-border-width: 2px;
  --ld-btn-padding-inline: 1rem; 
  --ld-btn-padding-block: calc(var(--ld-padding-block) - var(--ld-btn-border-width));
  --ld-btn-border-color: var(--ld-main-color);
  --ld-btn-bg-color: var(--ld-main-color);
  --ld-btn-text-color-hover: var(--ld-main-color-contrast);
  --ld-btn-border-color-hover: var(--ld-main-color-light);
  --ld-btn-bg-color-hover: var(--ld-main-color-light);

  --ld-btn-group-active-color: var(--ld-main-color-dark);

  --ld-input-font-size: var(--ld-font-size);
  --ld-input-line-height: var(--ld-line-height);
  --ld-input-font-weight: var(--ld-font-weight);
  --ld-input-text-color: var(--ld-font-color);
  --ld-input-border-color: var(--ld-border-color);
  --ld-input-border-hover-color: var(--ld-border-color-hover);
  --ld-input-border-radius: var(--ld-border-radius);
  --ld-input-border-width: 1px;
  --ld-input-padding-block: calc(var(--ld-padding-block) - var(--ld-input-border-width));
  --ld-input-padding-inline: 1rem;
  --ld-input-close-icon-size: 2.25rem; 
  --ld-input-close-icon-padding: .5rem;
  --ld-input-bg-color: var(--ld-bg-color);

  --ld-password-rule-text-color: var(--ld-main-color);

  --ld-drop-down-suggestion-padding-inline: 1rem; 
  --ld-drop-down-suggestion-padding-block: .5rem; 
  --ld-drop-down-suggestion-border-radius: var(--ld-border-radius);
  --ld-drop-down-suggestion-bg: var(--ld-main-color-contrast);
  --ld-drop-down-suggestion-bg-hover: #e5e5e5; // tw neutral 200
  --ld-drop-down-suggestion-bg-selected: #a3a3a3; // tw neutal 400
  --ld-drop-down-suggestion-bg-highlighted: #d4d4d4; // tw neutal 300
  --ld-drop-down-suggestion-container-border-width: 1px; 
  --ld-drop-down-suggestion-container-border-color: var(--ld-border-color);
  --ld-drop-down-suggestion-container-border-radius: var(--ld-border-radius);
  --ld-drop-down-suggestion-container-min-block-size: 200px;

  --ld-checkbox-width: 1rem;
  --ld-checkbox-margin-inline-end: .5rem;
  --ld-checkbox-color-disabled: var(--ld-main-color-light);

  --ld-dropzone-border: 1px dashed var(--ld-border-color);
  --ld-dropzone-border-radius: var(--ld-border-radius);
  --ld-dropzone-padding: 1rem;
  --ld-dropzone-delete-icon-size: .75rem;
  --ld-dropzone-delete-icon-margin-inline-end: .5rem;

  --ld-filedrop-icon-size: 4rem;
  --ld-filedrop-icon-color: var(--ld-main-color);
  --ld-filedrop-ok-icon-color: var(--ld-color-success);
  --ld-filedrop-error-icon-color: var(--ld-color-danger);
  --ld-filedrop-retry-icon-size: 1rem;
  --ld-filedrop-retry-icon-margin-inline-end: .5rem;
  --ld-filedrop-progress-stroke: var(--ld-color-success);
  --ld-filedrop-progress-stroke-size: 70px;
  --ld-filedrop-progress-stroke-width: 2;
  --ld-filedrop-progress-base: 2px solid var(--ld-bg-color-disabled);

  --ld-numeric-arrow-width: 2rem;
  --ld-numeric-arrow-padding-inline: .5rem;

  --ld-numeric-range-delimeter-width: 2rem;

  --ld-radio-active-color: var(--ld-main-color);
  --ld-radio-active-color-hover: var(--ld-main-color-dark);
  --ld-radio-active-color-disabled: var(--ld-bg-color-disabled);
  --ld-radio-contrast-color: var(--ld-main-color-contrast);


  --ld-rating-base-color: var(--ld-border-color);
  --ld-rating-active-color: var(--ld-main-color);
  --ld-rating-icon-width: 2rem;
  --ld-rating-icon-padding: 2px;

  --ld-slider-active-color: var(--ld-main-color);
  --ld-slider-active-color-hover: var(--ld-main-color-dark);
  --ld-slider-bg-color: var(--ld-border-color);
  --ld-slider-height: 16px;
  --ld-slider-track-height: 4px;
  --ld-slider-track-border-radius: 2px;
  --ld-slider-handle-border: 1px solid var(--ld-slider-active-color);
  --ld-slider-label-margin-top: 4px;
  --ld-slider-label-text-color: var(--ld-font-color);

  --ld-tooltip-z-index: 10070;
  --ld-tooltip-max-width: 280px;
  --ld-tooltip-min-width: 50px;
  --ld-tooltip-text-color: var(--ld-main-color-contrast);
  --ld-tooltip-bg-color: var(--ld-main-color-dark);
  --ld-tooltip-border-radius: var(--ld-border-radius);
  --ld-tooltip-transition: opacity .2s;
  --ld-tooltip-padding: .5rem 1rem;
  --ld-tooltip-arrow-length: 7px;
  --ld-tooltip-arrow-width: 4px;

  --ld-switcher-active-color: var(--ld-color-success);
  --ld-switcher-handler-bg: var(--ld-main-color-contrast);
  --ld-switcher-handler-bg-hovered: var(--ld-main-color-contrast);
  --ld-switcher-handler-bg-disabled: var(--ld-border-color);
  --ld-switcher-handler-border: 1px solid var(--ld-main-color);
  --ld-switcher-handler-border-radius: 10px;
  --ld-switcher-handler-size: 17px;
  --ld-switcher-wrapper-bg: var(--ld-border-color);
  --ld-switcher-wrapper-bg-disabled: var(--ld-bg-color-disabled);
  --ld-switcher-wrapper-width: 34px;
  --ld-switcher-label-margin-inline-start: .5rem;



}
