:root {
  --ld-main-color: #737373; // tailwind neutral 500
  --ld-main-color-dark: #525252; // tailwind neutral 600
  --ld-main-color-light: #a3a3a3; // tailwind neutral 400
  --ld-main-color-contrast: white;
  --ld-bg-color: white;
  --ld-border-radius: 4px;
  --ld-font-size: .875rem;
  --ld-line-height: 1.5rem;
  --ld-font-weight: 800;
  --ld-font-color: #09090b; // taiwind neutral 950
  --ld-border-color: #a3a3a3; // tailwind neutral 400
  --ld-border-color-hover: #09090b; // tailwind neutral 950
  --ld-bg-color-disabled: #e5e5e5; // tailwind neutral 200
  --ld-padding-block: .4rem;
  --ld-color-danger: #dc2626; // tailwind red 600


  --ld-btn-font-size: var(--ld-font-size);
  --ld-btn-font-weight: var(--ld-font-weight);
  --ld-btn-border-radius: var(--ld-border-radius);
  --ld-btn-min-width: 0;
  --ld-btn-line-height: var(--ld-line-height);
  --ld-btn-text-color: var(--ld-main-color-contrast);
  --ld-btn-border-width: 2px;
  --ld-btn-padding-inline: 1rem; 
  --ld-btn-padding-block: calc(var(--ld-padding-block) - var(--ld-btn-border-width));
  --ld-btn-border-color: var(--ld-main-color);
  --ld-btn-bg-color: var(--ld-main-color);
  --ld-btn-text-color-hover: var(--ld-main-color-contrast);
  --ld-btn-border-color-hover: var(--ld-main-color-light);
  --ld-btn-bg-color-hover: var(--ld-main-color-light);

  --ld-btn-group-active-color: var(--ld-main-color-dark);

  --ld-input-font-size: var(--ld-font-size);
  --ld-input-line-height: var(--ld-line-height);
  --ld-input-font-weight: var(--ld-font-weight);
  --ld-input-text-color: var(--ld-font-color);
  --ld-input-border-color: var(--ld-border-color);
  --ld-input-border-hover-color: var(--ld-border-color-hover);
  --ld-input-border-radius: var(--ld-border-radius);
  --ld-input-border-width: 1px;
  --ld-input-padding-block: calc(var(--ld-padding-block) - var(--ld-input-border-width));
  --ld-input-padding-inline: 1rem;
  --ld-input-close-icon-size: 2.25rem; 
  --ld-input-close-icon-padding: .5rem;
  --ld-input-bg-color: var(--ld-bg-color);
  --ld-input-bg-color-disabled: var(--ld-bg-color-disabled);
  --ld-input-border-color-focused: var(--ld-border-color-hover);
  --ld-input-border-color-danger: var(--ld-color-danger);
  --ld-input-border-color-required: var(--ld-border-color);

  --ld-password-rule-text-color: var(--ld-main-color);

  --ld-drop-down-suggestion-padding-inline: 1rem; 
  --ld-drop-down-suggestion-padding-block: .5rem; 
  --ld-drop-down-suggestion-border-radius: var(--ld-border-radius);
  --ld-drop-down-suggestion-bg: var(--ld-main-color-contrast);
  --ld-drop-down-suggestion-bg-hover: #e5e5e5; // tw neutral 200
  --ld-drop-down-suggestion-bg-selected: #a3a3a3; // tw neutal 400
  --ld-drop-down-suggestion-bg-highlighted: #d4d4d4; // tw neutal 300
  --ld-drop-down-suggestion-container-border-width: 1px; 
  --ld-drop-down-suggestion-container-border-color: var(--ld-border-color);
  --ld-drop-down-suggestion-container-border-radius: var(--ld-border-radius);
  --ld-drop-down-suggestion-container-min-block-size: 200px;

  --ld-checkbox-width: 1rem;
  --ld-checkbox-margin-inline-end: .5rem;
  --ld-checkbox-color-disabled: var(--ld-main-color-light);
}
