.v-stepper {
  &-wrapper {
    counter-reset: step;
  }

  &-icon {
    background-color: $black-05;
    border-radius: 100%;
    margin: 17px 0;
    width: 21px;
    height: 21px;
    position: relative;
    text-align: center;
    z-index: 2;

    &::before {
      color: $white;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-size: 14px;
      font-weight: normal;
      text-transform: none;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 21px;
      line-height: 21px;
      z-index: 1;
      counter-increment: step;
      content: counter(step);
    }

    &::after {
      font-size: 20px;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      color: $white;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  &-step {
    padding-left: 12px;
    margin-bottom: 10px;
    border-radius: $border-radius;
    background-color: $white;
    display: flex;
    justify-content: flex-start;
    position: relative;
    border: 1px solid $white;
    transition: .3s ease-in border;

    &:hover {
      background-color: $black-08;
    }

    &:last-child .v-stepper-line {
      border-left: 0;
      height: 0;
    }

    &.active {
      border: 1px solid $secondary-01;

      &:hover {
        background-color: $white;
      }
      .v-stepper-icon {
        background-color: $secondary-01 !important;
      }
      .v-stepper-line {
        border-left-color: $secondary-01 !important;
      }
    }

    &.danger, &.success  {
      .v-stepper-icon.sign-stop, .v-stepper-icon.sign-check {
        &::before {
          visibility: hidden;
        }
      }
    }

    &.danger .v-stepper-icon.sign-stop::after {
      content: '\00D7';
      color: $white;
    }

    &.success .v-stepper-icon.sign-check::after {
      content: '\f107';
      font-family: FontAwesome;
      color: $white;
    }

    &.danger {
      .v-stepper-status {
        color: $error-02,
      }

      .v-stepper-icon {
        background-color: $error-02;
      }

      .v-stepper-line {
        border-left: 2px solid $error-02;
      }
    }

    &.success {
      .v-stepper-status {
        color: $primary-02,
      }

      .v-stepper-icon {
        background-color: $primary-02;
      }

      .v-stepper-line {
        border-left: 2px solid $primary-02;
      }
    }

    &.progress {
      .v-stepper-status {
        color: $accent-02,
      }

      .v-stepper-icon {
        background-color: $accent-02;
      }

      .v-stepper-line {
        border-left: 2px solid $accent-02;
      }
    }

    &:not(.progress):not(.success):not(.danger) .v-stepper-status {
      color: $black-03;
    }
  }

  &-sign {
    position: relative;
  }

  &-line {
    border-left: 2px solid $black-04;
    top: 20px;
    left: 50%;
    margin-left: -0.5px;
    position: absolute;
    height: calc(100% + 20px);
    z-index: 1;
  }

  &-content-wrapper {
    padding: 0 20px 0 55px;
    width: 100%;
  }

  &-heading {
    height: 57px;
    line-height: 57px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
  }

  &-title {
    font-weight: 500;
  }

  &-status {
    margin-right: 67px;
  }

  &-heading-icon {
    &::after {
      content: '\f107';
      font-family: fontAwesome;
      font-size: 14px;
      vertical-align: middle;
      position: absolute;
      top: 0;
      right: 20px;
      transform: rotate(0deg);
      transition: transform 0.3s;
    }

    &.open::after {
      transform: rotate(-180deg);
    }
  }

  &-content {
    border-top: 1px solid $black-05;
    padding: 20px 32px 30px 0;
    margin-top: -7px;
  }
}
