.tags {
  &-wrapper {
    overflow: hidden;
    padding: 3px 0 2px 0;
    white-space: normal;
  }

  &-item {
    display: inline-flex;
    align-items: center;
    min-width: 20px;
    padding: 2px 16px;
    margin-right: 8px;
    height: 24px;
    background-color: $black-07;
    border-radius: $border-radius;
    border: 1px solid $black-05;
    float: left;
    transition: 250ms ease-out;

    &:hover {
      background-color: $black-07;
      border-color: $black-05;

      .tags-icon {
        color: $black-01;
      }
    }
  }

  &-icon {
    color: $black-04;
    margin-left: 10px;
    width: 12px;

    &:hover {
      color: $black-01;
    }

    &.icon-default {
      @extend %common-dropdown-icon;
      color: $black-03;

      &:before {
        content: "\00D7";
      }

      &:hover {
        color: $black-01;
      }
    }
  }
}
