.input {
  &-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &-element-wrapper {
    @extend %input-wrapper;
    padding: 0;

    &:not(.disabled):not(.danger):hover {
      @extend %input-hovered;
    }

    &:not(.focused):not(.disabled).danger {
      border-color: $error-02;
    }

    &.focused {
      @extend %input-focused;
    }

    &.disabled {
      @extend %input-disabled;
    }
  }

  &-clear-icon {
    font-size: 18px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    right: 0;

    &::before {
      content: "\00D7";
      color: $black-03;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      display: block;
      font-style: normal;
    }
  }

  &-icon {
    margin: 0;
    font-size: 14px;
    color: $black-03;

    &:before {
      position: relative;
      top: 5px;
    }

    &.icon-left {
      padding-left: 5px;

      & + input {
        padding-left: 7px;
      }
    }

    &.icon-right {
      padding-right: 7px;
    }
  }

  &-prefix {
    @extend %input-prefix;
  }

  &-suffix {
    @extend %input-suffix;
  }
}
