.ld-input-element {
  font-size: var(--ld-input-font-size);
  line-height: var(--ld-input-line-height);
  padding-block: var(--ld-input-padding-block);
  padding-inline: var(--ld-input-padding-inline);
  border: none;
  border-radius: var(--ld-input-border-radius);
  flex-grow: 2;
  cursor: inherit;
  inline-size: 100%;
  outline: none;
}

.ld-input-element-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--ld-input-text-color);
  border: var(--ld-input-border-width) solid var(--ld-input-border-color);
  border-radius: var(--ld-input-border-radius);
  background-color: var(--ld-input-bg-color);

  &:hover {
    border-color: var(--ld-input-border-color-hover);
  }

}

.ld-input-icon {
  color: var(--ld-input-border-color);
  padding: var(--ld-input-close-icon-padding);
  block-size: 100%;
  inline-size: var(--ld-input-close-icon-size);
  border-radius: var(--ld-input-border-radius);
  cursor: pointer;

  &:hover {
    color: var(--ld-input-border-hover-color);
  }
}