* {
  scrollbar-color: #999 #ccc;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  background-color: #ccc;
  width: 8px;
}

::-webkit-scrollbar-button {}

::-webkit-scrollbar-thumb {
  background-color: #999;
}

::-webkit-scrollbar-track {}

::-webkit-scrollbar-track-piece {}

::-webkit-scrollbar-corner {}

::-webkit-resizer {}
